* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    overflow-x: hidden;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url(/assets/img/background.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
h1{
   color: black;
}
header{
    padding: 10px;
    width: 100vw;
    height: 40px;
    background-color: aliceblue;
    text-align: center;
    z-index: 1;
}
nav {
    width: 100vw;
    height: 28px;
    padding: 10px;
    background-color: black;
    z-index: 1;
}
.filter{
    position: relative;
    display: none;
    z-index: 0;
}
.fa-filter, .fa-trash{
    color: white;
    z-index: 1;
    position: absolute;
    top: 72px;
    right: 50px;
    font-size: 1.5rem;
}
.fa-trash{
  right: 10px;
}
.fa:hover{
    color: #bcb6b6;
    transition: color 1s;
    cursor: pointer;
}
.types {
    background-color:rgb(255, 255, 255);
    border: solid black 4px;
    border-top: none;
    width: 86vw;
    height: 100px;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.types > label {
    padding: 10px;
}
.types > label > span {
    padding: 8px;
    width: fit-content;
    border: solid black 3px;
}
.types > label > span:hover {
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: color 0.5s;
}
label input:checked ~ span {
    background-color: black;
    color: white;
    font-weight: bold;
}
input[type='radio']{
    display: none;
}
input[type='submit']{
    background-color:#bcb6b6;
    font-size: 1.05rem;
    width: 100px;
    padding: 7px 0px;
    border: solid black 4px;
    text-align: center;
}
input:hover{
    background-color: black;
    font-weight: bold;
    transition: color 1s;
    cursor: pointer;
    color: white;
}
ul {
    list-style: none;
    color: white;
    padding: 5px;
}
.navbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.pokedex{
    border: black solid 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aliceblue;
    margin-top: 10px;
    width: 85vw;
    height: 85vh;
    overflow: auto;
    gap: 10px;
    z-index: 1;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@media screen and (max-width: 720px) {
    ::-webkit-scrollbar {
       display: none;
    }
    .types{
        height: 200px;
    }
}